@font-face {
  font-family: Roboto;
  src: url('./Roboto-Regular.ttf');
}

:root {  
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  --functional-color: rgb(28,125,202);
}

body {
  height: 100vh;
  display: grid;
  grid-template: 1fr 6fr/1fr 4fr;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

.logo>svg {
  width: 2rem;
  height: 2rem;
}

.sidebar {
  grid-row: 1/3;
  background-color: var(--functional-color);
  color: white;
  display: flex;
  flex-flow: column;
  font-size: 1.2rem;
  gap: 4rem;
}

.links,
.system {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-left: 2rem;
}

.sidebar>div>div {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.logo {
  padding-top: 80px;
  padding-left: 1.7rem;
  font-size: 2rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
}

nav {
  background-color: white;
  display: grid;
  grid-template: 2fr 3fr/7fr 3fr;
  padding: 20px 40px;
}

.search {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  place-items: center;
  gap: 20px;
}

input {
  background-color: rgb(219,227,236);
  border: none;
  border-radius: 15px;
  padding-left: 0.8rem;
  outline: none;
  width: 80%;
  justify-self: start;
}

.profile {
  display: grid;
  grid-template: 3rem /1fr 1.5rem 3rem 30%;
  place-items: center end;
  gap: 2rem
}

.profile>svg {
  grid-column: 2/3;
}

.profile-pic {
  border: 1px black solid;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-image: url('./profile.jpeg');
  background-size: 100%;
}

.user-name {
  font-weight: 800;
  font-size: 1.2rem;
  justify-self: flex-end;
  white-space: nowrap;
}

.greeting {
  display: grid;
  grid-template: 4rem / 4rem 1fr 1fr ;
  place-items: center start;
  font-size: 1.5rem;
}

.greeting>p {
  margin: 0;
  white-space: nowrap;
}

.greeting>p>span {
  font-size: 14px;
}

.func {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.func>button {
  background-color: var(--functional-color);
  color: white;
  width: 120px;
  height: 50px;
  border-radius: 30px;
  border: none;
}

main {
  background-color: rgb(219,227,236);
  box-shadow: inset 0 10px 10px rgba(0,0,0,0.2);
  display: grid;
  grid-template: repeat(2,1fr)/3fr 1fr;
  padding:10px 40px 30px 20px;
  column-gap: 20px;
}

.project-board {
  grid-row: 1/3;
  display: grid;
  grid-template: 100px minmax(0,1fr)/1fr;  
}

.project-board>div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));  
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  gap: 20px;
  overflow: hidden;
}

.project {
  max-height: 250px;
  display: flex;
  flex-flow: column;
  background-color: white;
  border: green 1px solid;
  box-shadow: 
    2px 2px rgba(0,0,0,0.2),
    inset 10px 0 rgb(235,166,32);
  border-radius: 5px;
  padding: 50px 40px 10px;
}

h4 {
  margin: 0;
}

.project>p {  
  font-size: 18px;
  flex: 1;
  color: gray;
  overflow-y: scroll;
}

.project>div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.favorite {
  background-image: url('./star-plus-outline.svg');
  background-repeat: no-repeat;
}

.checked {
  background-image: url('./eye-plus-outline.svg');
  background-repeat: no-repeat;
}

.share {
  background-image: url('./source-fork.svg');
  background-repeat: no-repeat;
}

.card {
  display: grid;
  grid-template-rows: 1fr 5fr;
  gap: 10px;
}

.card>div {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  border: green 1px solid;
  padding: 40px; 
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

hr {
  width: 100%;
}

.announcement>p {
  width: 200px;
  font-size: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trending {
  display: grid;
  grid-template: 3rem / 3rem 1fr;
  place-items: center;
}

.trending>div{
  justify-self: start;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  place-items: center start;
}

.org {
  color: gray;
}



